@font-face {
	font-family: "Open Sans";
	font-weight: normal;
	font-style: normal;
	src:
		local("Open Sans"),
		local("OpenSans"),
		url("fonts/OpenSans-Regular-webfont.eot") format("embedded-opentype"),
		url("fonts/OpenSans-Regular-webfont.woff") format("woff"),
		url("fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
}

@font-face {
	font-family: "Open Sans Bold";
	font-weight: normal;
	font-style: normal;
	src:
		local("Open Sans Bold"),
		local("OpenSansBold"),
		url("fonts/OpenSans-Bold-webfont.eot") format("embedded-opentype"),
		url("fonts/OpenSans-Bold-webfont.woff") format("woff"),
		url("fonts/OpenSans-Bold-webfont.svg#open_sansregular") format("svg");
}

:root {
	--view-height: 100vh;
	--header-height: 70px;
	--footer-height: 25px;
	--main-nav-width: 350px;
	--sample-nav-width: 200px;
	--nav-paddings: 32px;
	--content-width: calc(100vw - var(--main-nav-width) - var(--sample-nav-width) - calc(2 * var(--nav-paddings)));
	--content-height: calc(var(--view-height) - var(--header-height) - var(--footer-height));
}

body {font-family: "Open Sans", sans-serif; font-size: 14px; line-height: 1.7; color: #252525;}
body {position: relative; overflow: hidden; margin: 0; padding: 0; width: 100vw; height: var(--view-height);}

header {position: relative; overflow: hidden; height: var(--header-height); border-bottom: 1px solid #F0F0F0; z-index: 1;}
header a.logo {display: inline-block; width: fit-content; height: 100%;}
header a.logo svg {height: 100%;}

header section {position: absolute; left: calc(var(--main-nav-width) + var(--nav-paddings)); top: 0; width: var(--content-width); height: 100%; z-index: -1; flex-direction: column;}
header section h2 {font-family: "Open Sans Bold", sans-serif; font-size: 16px; font-weight: 600; margin: 0;}
header section p {font-size: 14px; margin: 0;}

b {font-family: "Open Sans Bold", sans-serif;}
ol, ul, li {list-style: none;}
ol, ul {padding-left: 16px;}

a {text-decoration: none; color: #252525;}

nav {position: absolute; top: var(--header-height); height: var(--content-height); padding: 0 16px;}
nav a:focus-visible {outline: none; color: #0A96FF;}
nav a.disabled {pointer-events: none; color: #999999;}
nav li.selected a, a:hover {color: #0A96FF;}

nav.main {left: 0; width: var(--main-nav-width); border-right: 1px solid #F0F0F0; overflow-y: auto;}
nav.main ol:first-child {padding: 0;}
nav.main li.section {list-style: none; margin-top: 20px;}
nav.main li.section {font-family: "Open Sans Bold", sans-serif; font-size: 16px; font-weight: 800;}
nav.main li.sub-section {font-family: "Open Sans Bold", sans-serif; font-weight: 800;}
nav.sample {right: 0; width: var(--sample-nav-width); border-left: 1px solid #F0F0F0;}

nav action-bar:first-child {padding-bottom: 10px; border-bottom: 1px solid #F0F0F0;}
nav action-bar {margin-top: 10px;}
nav a {display: block;}
nav file-opener,
nav file-saver {display: block;}
nav file-opener:hover a,
nav file-saver:hover a {color: #0A96FF;}

footer {position: absolute; left: 0; bottom: 0; width: 100%; height: var(--footer-height); padding-left: 20px; font-size: 12px; border-top: 1px solid #F0F0F0;}

input[type=radio] {display: none;}
input[type=radio] + label {cursor: pointer; text-decoration: none;}
input[type=radio]:checked + label {font-family: "Open Sans Bold", sans-serif; font-weight: 800;}
canvas {border: 0px none;}

.flex-wrapper {display: flex; flex-wrap: wrap; place-content: center; align-items: center;}
.content {position: absolute; left: calc(var(--main-nav-width) + var(--nav-paddings) + 1px); top: var(--header-height); width: var(--content-width); height: var(--content-height);}
.content.flex-wrapper {background-color: #F0F0F0;}
.content.form {overflow-y: auto; align-content: flex-start;}
.content.welcome {overflow: auto; padding: 16px; width: calc(100vw - var(--main-nav-width) - var(--nav-paddings) - 32px); height: calc(var(--content-height) - 32px);}
.content.welcome ul {padding: 0;}

.ink-context {position: relative; width: 90%; height: 90%; background-color: white;}
.ink-context.form {margin-top: 5px; background-image: url("assets/form.png"); background-size: cover;}

.radio-group {padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #F0F0F0; line-height: 2.5;}
.radio-group label {margin-right: 5px;}

.expected {color: red;}
.expected a {color: red;}
